.skills-section {
  background-color: var(--section-bg);
  padding: 60px 20px;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.skills-section h3 {
  font-size: 1.8rem;
  color:  #7026b9;
  margin-bottom: 20px;
  text-align: center;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.skill-icon {
  width: 60px;      /* adjust to preferred size */
  height: 60px;     /* keeps icons uniform */
  margin-right: 8px;
  vertical-align: middle; /* aligns icon with text */
}

.skills-list li {
    display: inline block;
  background: rgba(255, 253, 253, 0.474);
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  /* transition: background 0.3s ease; */
  min-width: 120px;
  text-align: center;
}

.skills-list li:hover {
  background: rgba(255, 255, 255, 0.25);
}
